@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
        <tr>
            <th>Mandag</th>
            <th>Pizza</th>
            <th>Pasta</th>
        </tr>
        <tr>
            <th>Tirsdag</th>
            <th>Kødboller</th>
            <th>Salat</th>
        </tr>
        <tr>
            <th>Onsdag</th>
            <th>Lasagne</th>
            <th>Frugtskål</th>
        </tr>
    </table>
</div>
