@page "/kontakt"
@model IndexModel
@{
    ViewData["Title"] = "Kontakt";
}

<div class="text-center">
    <table>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefonnummer</th>
        </tr>
        <tr>
            <th>Karen Blixen</th>
            <th>Karenpower@gmail.dk</th>
            <th>+45 24 32 42 12</th>
        </tr>
    </table>
</div>
